# Logs
logs
*.log

# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.spec

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env

# Application Logs
tray.log
